In [170]:
import numpy as np
import pandas as pd
import math
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.svm import SVC

In [171]:
df=pd.read_csv("mammogram_dataset.csv")

In [172]:
df.head(10)

   BI_RADS_assessment  age   shape  margin  density  severity
0                   5   67       3       5        3         1
1                   4   43       1       1  -100000         1
2                   5   58       4       5        3         1
3                   4   28       1       1        3         0
4                   5   74       1       5  -100000         1
5                   4   65       1 -100000        3         0
6                   4   70 -100000 -100000        3         0
7                   5   42       1 -100000        3         0
8                   5   57       1       5        3         1
9                   5   60 -100000       5        1         1

In [173]:
#pre-processing
col_list=['BI_RADS_assessment','age','shape','margin','density']

for i in col_list:
  for j in range(df.shape[0]):
     if df[i].iloc[j]==-100000:
         df[i].iloc[j]=np.nan

  df[i].fillna(method='ffill', inplace=True)
  #df[i].fillna(math.ceil(df[i].mean()), inplace=True)

In [174]:
df.head(10)

   BI_RADS_assessment   age  shape  margin  density  severity
0                 5.0  67.0    3.0     5.0      3.0         1
1                 4.0  43.0    1.0     1.0      3.0         1
2                 5.0  58.0    4.0     5.0      3.0         1
3                 4.0  28.0    1.0     1.0      3.0         0
4                 5.0  74.0    1.0     5.0      3.0         1
5                 4.0  65.0    1.0     5.0      3.0         0
6                 4.0  70.0    1.0     5.0      3.0         0
7                 5.0  42.0    1.0     5.0      3.0         0
8                 5.0  57.0    1.0     5.0      3.0         1
9                 5.0  60.0    1.0     5.0      1.0         1

In [175]:
#load X,Y
X = df.drop(['severity'], axis='columns')
X.head(5)

   BI_RADS_assessment   age  shape  margin  density
0                 5.0  67.0    3.0     5.0      3.0
1                 4.0  43.0    1.0     1.0      3.0
2                 5.0  58.0    4.0     5.0      3.0
3                 4.0  28.0    1.0     1.0      3.0
4                 5.0  74.0    1.0     5.0      3.0

In [176]:
Y=df.severity

In [247]:
#split your dataset int 70% train and 30% test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [248]:
#load model
model = SVC(C=5,kernel='linear')
dtree=tree.DecisionTreeClassifier()
dtree.fit(X_train, Y_train)
model.fit(X_train, Y_train)

SVC(C=5, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [249]:
model.score(X_test, Y_test)

0.8581314878892734

In [250]:
print(model.predict([[5,66,3,4,3]]))

[1]

In [251]:
print(dtree.predict([[5,66,3,4,3]]))

[1]

In [252]:
dtree.score(X_test, Y_test)

0.7958477508650519

In [253]:
from sklearn.metrics import accuracy_score

In [254]:
#make the prediction
prediction=model.predict(X_test)

In [255]:
print(str(accuracy_score(Y_test,prediction)*100)+"%")

85.81314878892734%