In [35]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

In [36]:
#load data
#we are working with apple stock price 
#i have downloaded this using pandas_datareader
'''
start=dt.datetime(2000,1,1)
end=dt.datetime(2018,12,31)
read_data=web.DataReader('AAPL','yahoo',start,end)
read_data.to_csv('AAPL.csv')
'''
df=pd.read_csv('AAPL_stock.csv')

In [37]:
df.head()

         Date      High       Low      Open     Close     Volume  Adj Close
0  12/31/1999  3.674107  3.553571  3.604911  3.671875   40952800   2.448418
1    1/3/2000  4.017857  3.631696  3.745536  3.997768  133949200   2.665724
2    1/4/2000  3.950893  3.613839  3.866071  3.660714  128094400   2.440975
3    1/5/2000  3.948661  3.678571  3.705357  3.714286  194580400   2.476697
4    1/6/2000  3.821429  3.392857  3.790179  3.392857  191993200   2.262367

In [38]:
df['Date'][:5]

0    12/31/1999
1      1/3/2000
2      1/4/2000
3      1/5/2000
4      1/6/2000
Name: Date, dtype: object